@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: "Roboto", sans-serif; 
}


/* Pseudo Class */
/* First Child */
p:first-child{
    color:red;
}
/* If p is existing and its first-child of its parent it changes */
/* First of Type */

/* p:first-of-type{
    color:red;
} 
 p:last-child{
     color:green; 
}
  */
 /* p:last-of-type{
    color:green;
} */