@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
body{
     font-family: "Lora", serif;
}
.box-wrapper{
    border: 10px solid #222;
    display: flex;
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
    /* Short hand to write Flex-direction and Wrap together */
    flex-flow: column wrap;
}
.box{
    border: 1px solid #666;
}
.box-1{
    background: lightblue;
}
.box-2{
    background: lightcoral;
}
.box-3{
    background:lightcyan;
}
.box-4{
    background:lightgoldenrodyellow;
}
.box-5{
    background:lightsalmon;
}