@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Outfit:wght@100..900&display=swap');
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1,h1{
    border:2px solid purple;

    /* Block Elements take whole page width Observation: We can Make Changes
    width:500px;
    height:100px; */
    /* block elements to Inline */
    display:inline-flex;
}
a{
    border:3px solid black;
    /* Inline element take width only what is required 
    Observation:No change.
    width:100px;
    height:100px; */

    /* After changing display of inline to block All the problems with margin and padding are solved */
    display:block;
    margin:2px 10px;
    padding:10px;
}
/* block element take all margin 
Observation:change all sides.
h1{
    margin:100px;
} */

/* Inline Element take margin only left and right Observation:change only in margin left-right
no change in margin top-bottom (it shows but No changes)
a{
    margin:100px;
} */

/* Good to go padding in block elements
h1{
    padding:50px;
} */

/* No need to give padding at top and bottom for inline Element  it means the things only left -right */

a{
    padding:0px 50px;

}