@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: "Noto Sans", sans-serif;
}
/* 
Justify Content ------>changes with respect to--->Main axes

Align items---->Changes with respect to ---> Cross Axis
By default---stretch

Align content---->Cross Axis
(When we have flex items in multiple lines)

flex-wrap-->towards cross -axis

*/
.box-wrapper{
    border: 10px solid #222;
    display: flex;

   
    /* height:700px;

    flex-wrap: wrap;
    align-items: flex-start;
    align-content: space-around;
    justify-content: space-between;
     */

     /* align-items: center;
     justify-content: space-between; */
     flex-direction: column;
     align-items: flex-start;
     height: 400px;
     flex-wrap: wrap;
     align-content: space-between;
     justify-content: space-between;
}

.box{
    border: 1px solid #666;
    /* width: 500px; */
}
.box-1{
    background: lightblue;
}
.box-2{
    background: lightcoral;
}
.box-3{
    background: lightcyan;
}
.box-4{
    background: lightgoldenrodyellow;
}
.box-5{
    background: lightsalmon;
}