@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&display=swap');
body{
    font-family: "Atkinson Hyperlegible Mono", sans-serif;
}
/* flex items property */
/* Flex basis is somewhat similar to width */
.box-wrapper{
    border: 10px solid #222;
    display: flex;
    flex-direction: row;

    /* flex-direction:column; */
    /* flex-wrap: wrap; */
}
.box{
    border:1px solid #666;
    /* width:500px; */
    flex-basis:500px;
    /* height: 400px; */
    /* its width with respect to main axis */
}
.box-1{
    background: lightblue;
}
.box-2{
    background:lightcoral;
}
.box-3{
    background:lightcyan;
}
.box-4{
    background: lightgoldenrodyellow;
}
.box-5{
    background: lightsalmon;
}