@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
body{
    font-family: "Playfair Display", serif;
}
.box-wrapper{
    border: 10px solid #222;
    display:flex;
    /* flex-direction: row-reverse; */
    /* Main Axis Start from left to end of right of flexbox Container */
    /* flex-direction: row-reverse; */
    /* Main Axis Start from right to end of left of flexbox Container */
    /* flex-direction: column; */
    /* Main Axis start from Top to end to Bottom of Flexbox container */
    flex-direction: column-reverse;
     /* Main Axis start from Bottom to end to Top of Flexbox container */
}
.box{
    border: 1px solid #666;
}
.box-1{
    background:lightblue;
}
.box-2{
    background: lightcoral;
}
.box-3{
    background: lightcyan;
}
.box-4{
    background: lightgoldenrodyellow;
}
.box-5{
    background: lightsalmon;
}