@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
body{
     font-family: "Saira", sans-serif;
}
/* Relative Units */

/* Two ways of CSS Units */
/* <!--  1) Absolute Units. -->
<!--Fixed-->
<!--  2) Relative Units. -->
<!--Not Fixed--> */

/*  3 .Understanding em Unit in CSS */

h1{
    font-size: 2em;
    border: 2em solid black;
    padding:2em;
}
/* Consider all h1 */
/* h1-->body parent */
/* h1--> div box1 parent--> body parent */
.box{
    font-size: 20px;
}
/* Consider fontsize of related class to change */