@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body{
     font-family: "Oswald", sans-serif;
}
*{
    box-sizing: border-box ;
}
.fav-musicians{
    border:5px solid green ;
}

.mozart{
    width:25%;
    background-color: lightgoldenrodyellow;
    float: left;
    padding:20px;
}

.beethoven{
    width: 25%;
    background-color: lightsalmon;
    float: left;
    padding: 20px;
}

.bach{
    width:25;
    background-color: lightgoldenrodyellow;

    float: left;
    padding:20px;

}
.paganini{
    width: 25%;
    background-color: lightsalmon;
    float: left;
    padding: 20px;
}
.box{
    clear: both;
}
/* without clear fix class */
.fav-musicians::after{
    content:"";
    display:block;
    clear: both;
}