@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
body{
    font-family: "Playfair Display", serif;
}
/* 
Justify Content--->Changes with respect to -->Main axis

Align items--->changes with respect to --->Cross Axis
By default --stretch


*/
.box-wrapper{
    border: 10px solid #222;
    display: flex;
    height: 700px;
    align-items: flex-end;
    flex-direction: column;
}
.box{
    border:1px solid #666;
}
.box-1{
    background: lightblue;
}
.box-2{
    background: lightcoral;
}
.box-3{
    background: lightcyan;
}
.box-4{
    background: lightgoldenrodyellow;
}
.box-5{
    background: lightsalmon;
}