/* 
In CSS Grid  is very powerful two-dimensional layout system.
Flexbox is one-dimensional  layout system.
 */
 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
 *{
    padding:0;
    margin:0;
    box-sizing:border-box;
 }
 body{
    font-family: "Open Sans", sans-serif;
 }

 .container{
    max-width:1440px;
    height: 600px;
    border: 10px solid red;
    margin: 200px auto;
    display: grid;
    grid-auto-rows: 100px;
    grid-template-columns: repeat(3,150px);
    gap:10px;

    /* justify-items: stretch; */ /*default/*
    /* justify-items: start; */ 
    /* justify-items: end; */ 
    /* justify-items: center; */ 

    /* align-items:stretch; *//*default/*
    /* align-items:start; */
    /* align-items:end; */
    /* align-items:center; */

    /* place-items: vertical horizontal; */
    /* place-items: end start; */


    /* justify-content: start; *//*default/*
    /* justify-content: end; */
    /* justify-content: space-around; */
    /* justify-content: space-evenly; */
    /* justify-content: space-between; */
    /* justify-content: center; */

    /* align-content:start; *//*default/*
    /* align-content:end; */
    /* align-content:space-between; */
    /* align-content:space-around; */
    /* align-content:center; */

    /* place-content: vertical horizontal; */
    /* place-content: center space-between; */

 }

 .item{
    background: salmon;
    color: #fff;
    border: 2px solid black;
    padding: 10px;


 /* align-self:start; */
 /* justify-self:start; */

 /* place-self:vertical horizontal; */
 /* place-self:start start */
 }