@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
/* padding */
/* h1{
    border:2px solid red;
    padding-left:40px;
    padding-right:40px;
    padding-top:20px;
    padding-bottom:20px;
    margin-left:20px;
    margin-top:50px;
    text-align:center;
    font-family:Arial, sans-serif;
} */

/* short hand all side */
 h1{
    border : 10px solid red;
    padding:40px 20px;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif

} 
/* short hand top bottom left right*/
/* h1{
    padding:20px 40px;
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
} */

/* short hand clockwise padding  */
/* h1{
    padding:20px 30px 20px 30px;
    border:10px solid purple;
 text-align:center; 
    font-family: Arial, Helvetica, sans-serif;
}  */

h1{
    /* padding:50px 40px 20px 35px;
    border:10px solid purple; */
    /* text-align:center; */
    /* margin-left:200px; */
    /* margin-right:200px; */
    /* margin-top:50px; */
    /* margin-bottom:50px */
    /* width:500px; */
    /* text-align :center*/
    /* margin:20px; */
}

/* Background color starts where border starts */
/* padding
space between border and conetnt */
