@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Outfit:wght@100..900&display=swap');
body{
    font-family: "Poppins",sans-serif;
}
a{
    font-family: "Poppins",sans-serif;
    border:2px solid black;
/*
    Inline Element - a
    Problems with padding and Margin

    margin: 50px;
    padding:50px;
    */
    /*
    Cannot change height and width :
    Remains as it is 
    Only takes what is Required

    height: 100px; 
    width: 100px;
    */
}
a{
    display: inline-block;
    font-family:"Poppins",sans-serif;
    border:2px solid black;
    margin:20px;
    padding:10px;
    width:150px;
    height:100px;

}