@import url('https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&display=swap');
/* body{
    font-family: "Changa One", sans-serif;
} */
/*  
 :not(p){
    color:blue;
 } */

 body header:not(.fancy){
    color: aquamarine;
 } 

  /* div:empty{
    background-color: #222222;
    border:2px solid red;
    width:100px;
    height: 100px;
  } */
  /* root==>which is html */
  /* specificity of root >html eg.class >element */
/* 
html{
    background: red;
    color:white;
}
:root{
    background:#333;
    color:#eee;
} */