@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');

body{
    font-family: "Arimo", sans-serif;
}

/* h1{
    border:  5px solid red;
    width:20em
    viewport width -vw
    width : 50vw;
} */

/* .box1{
    border: 4px solid red;
    padding: 5px;
    width:50px;
} */
/*  
 h1{
    border: 2px solid green;
    width:50%;
 } */

 /* 
 % percent  is with respect to parent cares about parent cares about parent 
 */
/* .box1{
    border: 4px solid red;
    padding: 5px;
    width:50%
} */
/*  
 h1{
    border:2px solid green;
    width:50%;
    width:70%;
    width:70vw;
    see difference of vw and %
 } */
  /* vw is with respective to child only doesn't cares about parent */
  /* .box{
    height: 100vh;
    background-color: aqua;
  } */

   /* vh,vw
   to check minimum and take its 100% percent */
   .box{
    border: 2px solid red;
    /* width: 100vmax; */
    background-color: aqua;
   }