/* "Specificity"

More Specificity:

inline style selector>id selector>class selector>element selector */

#h1id{
    color:blueviolet;
} 

.h1class{
    color:brown;
} 

h1{
    color:chartreuse;
} 
/* classes-->
when two classes are declared
we considered:
which is recently declared and override the above one */

/* .h1class{
    color:rebeccapurple;
}  */
  
/* .heading{
    color:magenta;
}
.h1class{
    color:blueviolet;
}
h1{
    color:chartreuse;
} */

/* classes-->
when two classes are declared here we considered:
more specific h1.heading because it is more specific than h1 element heading class should be changed other than h1 class */
/* h1.heading{
    color:cadetblue;
} */
/* 0,0,1,0--->11 */
/* .h1class{
    color:red;
} */
/* 0,0,1,0--->10 */
/* h1{
    color:chocolate;
} */

/* "Specificity"

More Specificity:

inline style selector>id selector>class selector>element selector */

/* how to calculate the specificity */


div#container ul.my-games li{
    color:rgb(78,23,197);
    background-color: bisque;
};

.favourite{
    color: rgb(199,52,8);
    background-color: rgb(35,98,152);
}

div#container ul.my-games li.favourite{
    color:rgb(13,210,72);
    background-color: rgb(192,129,52);
};
/* how to calculate the specificity */
/* div#container ul.my-games li */
/* 0,1,1,3 -->113 */
/* Inline,Id,class,element */

/* .favourite --> old specificity*/
/* 0,0,1,0  -->10 */

/* div#container ul.my-games li.favourite */
/* 0,1,2,3 -->123 */