@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&display=swap');
body{
    font-family: "Atkinson Hyperlegible Mono", sans-serif;
}

/* Relative Units

Two types of css units
1)Absolute Units 
Fixed
2) Relative Units
Not fixed

*/
/* 
Understanding em vs rem vs px
InCase font-size: Use rem
InCase font-size:if px are used More media queries required to be responsive.

*/
:root{
    font-size: 20px;
    /* font-size: 62.5%; */
}

.box1{
    /* font-size: 30px; */
}
h1{ 
    font-size:1em; /* 1 * 20  = 20px */
    border:4px solid black;
    padding:20px;
    padding:1rem;

/* 
html:root
font-size=10px i.e 62.5%
font-size=2.8rem
i.e 2.8 x 10=28px

padding 1em=respective to font-size
so 1em = 28 px as font-size is 28px in h1 child
html-->root-->size is 10px
but in case of em we consider element font-size
of child and not root i.e 28px-->2.8rem-->10px
*/
/* html:root
font size = 10px i.e 62.5%
font size = 2.8 x 10rem
i.e 2.8 x 10 =28px

padding 1 rem = respective to fontsize  of root
so 1 rem = 10px as font-size is 10px in root
html size is 10px
but in case of em we consider element font size */
}
p{
    font-size: 0.5rem;
}
/* padding and margin
personal preference:rem or em padding-->em 
*/

/* font size:rem
padding & margin : em
thin border:px
layout:% */
