@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
body{
    font-family: "Source Sans 3", sans-serif;
}
.box-wrapper{
    border: 10px solid #222;
    display: flex;
    /* ######### Flex Direction ############ */
    /* flex-direction: row; */
    /* main Axis start from left end to right of Flexbox Container */

    /* flex-direction: row-reverse; */
    /* main Axis start from right end to left of Flexbox Container */

    /* flex-direction: column; */
    /* main Axis start from Top end to Bottom of Flexbox Container */

    /* flex-direction: column-reverse; */
    /* main Axis start from Bottom end to  of Top Flexbox Container */
    
    /* flex-wrap: nowrap; By default */
    /* flex-wrap: wrap; */

    /* 
    Normal Main axis and cross axis  content start from cross start and ends at cross end wrapping upwards
    */
    /* height: 500px; */
    /* if flex box is stretch content also stretchs and takes complete height */

    flex-direction: column;
    height: 400px;
    flex-wrap: wrap;
}
.box{
    border: 1px solid #666;
    width: 500px;
}
.box-1{
    background: lightblue;
}
.box-2{
    background: lightcoral;
}

.box-3{
    background: lightcyan;
}
.box-4{
    background: lightgoldenrodyellow;
}
.box-5{
    background: lightsalmon;
}