/* In CSS Grid is very powerful two-dimensional layout system.
Flexbox is one dimensional one-dimensional layout System */
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Arimo", sans-serif;
}
.container{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: auto auto 1fr auto auto;
    height: 100vh;
    gap: 10px;
    margin: 5px;
}
.box{
    border: 2px solid lightcoral;
}
.header{
    grid-column: 1/-1;
}
.navigation{
    grid-column: 1/-1;
}
.main{
    grid-column: 4/-1;
}
.sidebar{
    grid-column: 1/4;
}
.ads{
    grid-column:1/4;
}
.footer{
    grid-column:4/-1;
}