@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: "Noto Sans", sans-serif;
}
.box-wrapper{
    border: 10px solid #222;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* Flex Item Properties */
/* Align-self */
.box{
    border: 1px solid #666;
    width: 400px;
}
.box-1{
    background: lightblue;
    align-self: flex-start;
}
.box-2{
    background: lightcoral;
    align-self:center;
}
.box-3{
    background: lightcyan;
    align-self: flex-end;
}
.box-4{
    background: lightgoldenrodyellow;
}
.box-5{
    background: lightsalmon;
}