@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Outfit:wght@100..900&display=swap');
body{
    font-family:'Courier New', Courier, monospace;
}
.box1,.box2{
    border:2px solid crimson;
    padding:10px;
}

/* Margin collapsing */
.box1{
    margin-bottom:40px;
}
.box2{
    margin-top:50px;
}

/* its not 40 bottom of box1+50 top of box2=90 margin between box1 and box2

Here the greater margin is considered and it is collapsed 
so margin between box1 and box2 greatern i.e 50 px is considered */
