h1{
    /* short handway */
    border-right: 10px solid red;
    border-top:4px solid red ;
    border-radius:120px;
  /* border-width: 2px;
  border-style: ridge;
  border-color: aqua; */
  /* border: 2px ridge aqua; */
/* border-width:4px;
border-style:solid;
border-color:red; */
}
/* 
h1,img{
    border:5px dotted green;
}
div{
    border:5px solid rgb(24,9,142);
}
p{
    border:5px solid rgb(142,9,100);
}
span{
    border:5px solid rgb(142,129,9);
}

.pic{
    border:4px solid rgb(174,81,81);
    border-bottom:4px dotted red;
    border-radius:10px;
} */