@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
body{
     font-family: "Pacifico", cursive;
}

/* p:nth-child(2){
    color:green;
} */
 /* 2n-->even
 2n+1-->odd */
 /* p:nth-child(2n){
    color:green;
 } */
  p:nth-of-type(1){
    color:red;
  }
/* 
  n->
  2n-->even
  2n+1-->odd
   */
   /* ul li:nth-child(2n+1){
    color:red;
   } */