/* 
In CSS Grid is very powerful two-dimensional layout System. 
Flexbox is one-dimensional layout System*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat", sans-serif;
}
.container{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr auto auto auto;
    height: 100vh;
    gap: 10px;
    margin: 0 auto;
}

.box{
    border: 2px solid lightcoral;
    padding: 10px;
    border-radius:10px;
    margin: 5px;
/* }
.header{

}
.navigation{

}
.main{

}
.sidebar{

}
.ads{

}
.footer{

} */