@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: "Saira", sans-serif;
}

/* Relative Units */

/* Two types of CSS units
1)Absolute Units
Fixed
2)Relative Units
Not fixed */
/* 2)Understanding Rem Unit in Css */
html{
    /* font-size: 10px; */
    font-size: 62.5%;
    /* 16px-->100% */
    /* 10px-->100/16*10 */
}
.box1{
    /* font-size: 2rem; */
}
/* 2rem=

it check root element i.e,html 
element html element its 16px default 
font-size 
so 2rem=2*16=32px */

.text-content{
    font-size: 3rem;
    border:1rem solid red;
    margin:0.5rem;
    padding:2.5rem;
}
/* 
Makes Calculation easy
by font size:10px */