@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Outfit:wght@100..900&family=Pinyon+Script&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family:"Poppins",sans-serif;
}
p{
    /* default :400 :normal; */
    font-weight: normal;
}
h1{
    /* default:700: bold */
    font-weight: 800;
}
/* Text Related Properties */
h1{ 
    font-size: 35px;
    text-decoration: decoration solid #444;
}
p{
    font-size: 20px;
    line-height: 20px;
    word-spacing: 4px;
    letter-spacing: 2px;
}